# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
**/android/**/debug/
**/android/**/profile/
**/android/**/release/
/android/app/src/main/res/drawable-*/
/android/app/src/main/res/mipmap-*/

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Pods/

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/
*.exe
*.dll
*.pdb
*.obj

# Web related
.web/

# JetBrains (Android Studio/IntelliJ)
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
*.code-workspace

# OS related
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
*.env
.env.*

# Logs and databases
*.log
*.sqlite
