<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>VRM Atomic Camera</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>vrm_app</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSMicrophoneUsageDescription</key>
		<string>VRM requiere acceso al micrófono para capturar audio nítido en tus videos y procesar comandos de voz que controlan el teleprompter automáticamente.</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>Utilizamos el reconocimiento de voz para sincronizar el desplazamiento del texto con tu habla, permitiendo una lectura natural y fluida.</string>
		<key>NSCameraUsageDescription</key>
		<string>VRM necesita acceso a la cámara para grabar videos de alta calidad directamente desde el prompter integrado.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>VRM necesita acceso a tu biblioteca para que puedas seleccionar y gestionar los videos de tus proyectos.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>VRM guardará tus videos finales directamente en tu galería para que puedas compartirlos fácilmente en redes sociales.</string>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
